<mat-card class="main-card">

  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="550px" *ngIf="$products | async as products">
      <mat-grid-tile
          *ngFor="let product of products; let i = index ">
          <mat-card class="example-card" >
            <mat-card-header>
              <mat-card-title><span>{{product.name}}</span></mat-card-title>
              <mat-card-subtitle>${{product.priceRange.selling.high}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <img src="{{product.hero.href}}" (click)="openDialog(i)" alt="Photo of a Shiba Inu" style="border:1px solid #eaeaea">
            </mat-card-content>
            <mat-card-actions>
              
            </mat-card-actions>
          </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

</mat-card>


<router-outlet></router-outlet>
